@import "mixin";
@import "reset.scss";
@import "header";
@import "tab-body";
@import "material";
@import "equip";

.rarity {
  &.r1 {
    box-shadow: 0 0 rem(3) goldenrod;
  }
  &.r2 {
    box-shadow: 0 0 rem(3) green;
  }
  &.r3 {
    box-shadow: 0 0 rem(3) blue;
  }
  &.r4 {
    box-shadow: 0 0 rem(3) purple;
  }
  &.r5 {
    box-shadow: 0 0 rem(3) gold;
  }
}
html {
  font-size: ($vw_fontsize / ($vw_design)) * 100vw;
  height: 100%;
  overflow: hidden;
  background: #fff none;
  @media screen and (min-width: 768px) {
    font-size: 76.8px;
  }
  body {
    height: 100%;
    overflow: hidden;
    background: #efefef;
  }
}

#app {
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
  background: #907e4e;
  .app {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  .hr {
    height: rem(19);
    background-size: 100% 100%;
    background-image: url("./../imgs/hr.png");
  }
}
