.tab-body {
    -webkit-overflow-scrolling: touch;
    position: relative;
    flex: 1;
    overflow-y: scroll;
    .tab-item {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        &.active {
            display: block;
        }
    }
}